body {
    color:#0f4c75;
}
.header-block {
    background-color: #0f4c75;
    color:#bbe1fa;
    border-radius: 0;
}
.overall-block {
    background-color: #1b262c;
    color:#bbe1fa;
}

.bad {
    color: red;
}

.good {
    color: green;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}